<div class="m-4">
  <h4>COUNTRIES APP</h4>
  <ul class="list-group">
    <!-- <li class="list-group-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]=" { exact: true } ">
      Home Page
    </li>
    <li class="list-group-item" routerLink="about" routerLinkActive="active">About Page</li>
    <li class="list-group-item" routerLink="contact" routerLinkActive="active">Contact Page</li> -->
    <li class="list-group-item" routerLink="countries/by-capital" routerLinkActive="active">Por Capital</li>
    <li class="list-group-item" routerLink="countries/by-country" routerLinkActive="active">Por Pais</li>
    <li class="list-group-item" routerLink="countries/by-region" routerLinkActive="active">Por Region</li>

  </ul>

</div>