.spinner-container {
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: white;
  padding: 5px 10px;


}